/* MAIN */
.main-page {
  background: url("../assets/img/bg_unmasked.webp");
  background-size: cover;
}

.rightHeader {
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
}

.title {
  transform: scale(0.5);
  position: relative;
}

.intro {
  transition: 1s;
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.intro-txt-box {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: 50%;
}

.intro-txt {
  display: inline-block;
  bottom: -20px;
  font-family: "M PLUS 2", sans-serif;
  padding: 0 0.5%;
}

.txt2 {
  width: 31.5%;
}

.txt1 {
  width: 37%;
}

.intro-txt.active {
  bottom: 0;
  transition: ease-in-out 0.5s;
}

.intro-txt.fade {
  bottom: 150px;
  transition: ease-in-out 0.5s;
}

.header {
  flex-direction: row;
  top: 3%;
  height: 15%;
  justify-content: space-between;
}

.logo {
  bottom: 0%;
  left: 5%;
}

.lang {
  top: 30%;
  justify-content: space-between;
  height: 40%;
  width: 10%;
  right: 5%;
}

.main-container {
  background: url("../assets/img/bg_unmasked.webp");
  background-size: cover;
  height: 100vh;
}

/* .bird {
  position: absolute;
  top: 60px;
  left: 90%;
} */

.bird {
  background: url("../assets/svg/birds.svg");
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}

.bird-one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}

.bird-two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
}

.bird-three {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
}

.bird-four {
  animation-duration: 1.1s;
  animation-delay: -0.5s;
}

.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bird-container-one {
  animation-duration: 15s;
  animation-delay: 0;
}

.bird-container-two {
  animation-duration: 16s;
  animation-delay: 1s;
}

.bird-container-three {
  animation-duration: 14.6s;
  animation-delay: 9.5s;
}

.bird-container-four {
  animation-duration: 16s;
  animation-delay: 10.25s;
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }

  10% {
    transform: translate(10vw, 2vh) scale(0.4);
  }

  20% {
    transform: translate(30vw, 0) scale(0.5);
  }

  30% {
    transform: translate(50vw, 4vh) scale(0.6);
  }

  40% {
    transform: translate(70vw, 2vh) scale(0.6);
  }

  50% {
    transform: translate(90vw, 0) scale(0.6);
  }

  60% {
    transform: translate(110vw, 0) scale(0.6);
  }

  100% {
    transform: translate(110vw, 0) scale(0.6);
  }
}

.bg-mainpage {
  /* The image used */
  background: url("../assets/img/bg_unmasked.webp");
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: -2;
}

/* Splash Screen Animation */

.bird-1 {
  scale: 0.5;
  position: absolute;
  top: 43%;
  left: 10%;
  animation: biard1-anim 4s ease-in;
  opacity: 0;
}
@keyframes biard1-anim {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
    transform: translateX(330%);
  }
  50% {
    opacity: 1;
    transform: translateX(730%);
  }
  75% {
    opacity: 1;
    transform: translateX(1250%);
  }
  100% {
    opacity: 0;
    transform: translateX(1255%);
  }
}
@keyframes biard2-anim {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    transform: translateX(300%);
  }
  50% {
    opacity: 1;
    transform: translateX(700%);
  }
  75% {
    opacity: 1;
    transform: translateX(1250%);
  }
  100% {
    opacity: 0;
    transform: translateX(1255%);
  }
}

.bird-2 {
  scale: 0.5;
  position: absolute;
  top: 25%;
  left: 3%;
  animation: biard2-anim 4s ease-in;
  opacity: 0;
}

.bird-3 {
  scale: 0.5;
  position: absolute;
  top: 53%;
  left: 0%;
  animation: biard2-anim 4s ease-in;
  opacity: 0;
}

.titleSplashScreen {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.titleSplashScreen {
  animation: title-anim 3.5s ease in;
}

.text-1 {
  animation: text-1-anim 1s ease-in;
}
.text-2 {
  animation: text-2-anim 2s ease-in;
}
.text-3 {
  animation: text-3-anim 3s ease-in;
}
@keyframes text-1-anim {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-2-anim {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-3-anim {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Navigation */
.footer {
  position: fixed;
  top: -95%;
  left: 0;
  width: 100%;
  z-index: 2;
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #f3e2e2;
  box-shadow: 10px 9px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  height: 9%;
  width: 9%;
}

.nav_list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttonSize {
  width: 80%;
}

li {
  list-style-type: none;
}

.nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeButton {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
  width: 52px;
  height: 52px;

  background: url("../assets/svg/HomeButton.svg");
  background-size: contain;
  margin: 2%;
  cursor: pointer;
  border: none;
  transition: 0.7s ease-in-out;
}

.homeButton:hover {
  background: url("../assets/svg/HomeButtonHover.svg");
  background-size: contain;
  transition: 0.7s ease-in-out;
}

.aboutButton {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
  width: 52px;
  height: 52px;

  background: url("../assets/svg/AboutButton.svg");
  background-size: contain;
  margin: 2%;
  cursor: pointer;
  border: none;
  transition: 0.7s ease-in-out;
  /* padding: auto; */
}

.aboutButton:hover {
  background: url("../assets/svg/AboutButtonHover.svg");
  background-size: contain;
  transition: 0.7s ease-in-out;
}

/* Responsive */

@media screen and (max-width: 576px) {
  .landing {
    transform: scale(0.3);
  }
  .titleSplashScreen {
    width: 80vw;
  }
}

@media only screen and (max-width: 768px) {
  .titleSplashScreen {
    width: 80vw;
  }
  .landing {
    transform: scale(0.3);
  }
}

@media only screen and (max-width: 400px) {
  .landing {
    transform: scale(0.2);
  }
  .bg-mainpage header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leftHeader {
    display: none;
  }
  .rightHeader {
    display: none;
  }
  /* .centerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .nav_menu {
    transform: scale(0.8);
  }
}
