/* Page 2 */

.bg-page2 {
  /* The image used */
  background-image: url("../assets/img/bg_3.webp");
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: -2;
}

.img-fluid {
  transition: 0.7s ease-in-out;
}

.img-fluid:hover {
  transition: 0.7s;
  border-radius: 20px;
  filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.25));
  transform: scale(1.1);
}

.card-img img {
  width: 70%;
  object-fit: cover;
  position: relative;
}

.card-img {
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
  border-radius: 120px;
}

.card-img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.9)
  );
  z-index: 0;
  transition: 0.5s all;
  opacity: 0;
}

.card-img .info {
  position: relative;
  display: hidden;
  z-index: 3;
  color: #fff;
  opacity: 0;
  padding: 80px 80px 0px 80px;
  transform: translateY(270px);
  transition: 0.5s all;
}
.card-img:hover .info {
  opacity: 1;
  transform: translateY(290px);
  transition: 0.5s all;
}
.card-img .info h2 {
  letter-spacing: 1px;
  font-size: 15px;
  background-color: grey;
}

/* Bubbles Animation  */
i {
  position: absolute;
  z-index: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-animation: "screen" infinite;
  animation: "screen" infinite;
}

i:nth-child(1) {
  top: 20px;
  left: 30px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(203, 216, 218, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #2df1ff;
  animation-duration: 5s;
}

i:nth-child(2) {
  top: 420px;
  left: 30px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(214, 211, 205, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #2df1ff;
  animation-duration: 21s;
}

i:nth-child(3) {
  top: 550px;
  left: 880px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(199, 204, 199, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #2df1ff;
  animation-duration: 5s;
}

i:nth-child(4) {
  top: 5px;
  left: 1030px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(216, 208, 213, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #2df1ff;
  animation-duration: 4s;
}

i:nth-child(5) {
  top: 280px;
  left: 12px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(223, 175, 228, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #2df1ff;
  animation-duration: 5s;
}

i:nth-child(6) {
  top: 550px;
  left: 30px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(170, 168, 164, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #2df1ff;
  animation-duration: 6s;
}

i:nth-child(7) {
  top: 180px;
  left: 45px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(109, 107, 103, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #2df1ff;
  animation-duration: 6s;
}

i:nth-child(8) {
  top: 856px;
  left: 200px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(185, 136, 36, 0.397) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #2df1ff;
  animation-duration: 6s;
}

@keyframes screen {
  from {
    opacity: 0;
  }

  25% {
    opacity: 0.3;
    transform: scale3d(3, 3, 4);
  }

  50% {
    opacity: 0.75;
  }

  75% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
